.weather-app-wrapper {
  max-width: 1000px;
  margin: 20px auto;
}
.weather-app {
  padding: 100px;
  border: 2 px solid #dadde1;
  border-radius: 50px;
  background-color: #efdbf2;
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
  background: rgb(252, 252, 252);
  opacity: 5;
}
.weather-forecast-date {
  font-size: 16px;
  color: black;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

.source {
  text-align: center;
  display: block;
  font-size: small;
}
h1 {
  text-align: center;
}

footer {
  text-align: center;
}
